[submodule "camera_calibration_ws/aditof_sdk_custom/aditof_sdk"]
	path = camera_calibration_ws/aditof_sdk_custom/aditof_sdk
	url = https://github.com/Funderburger/aditof_sdk.git
[submodule "vae_mrtnet"]
	path = vae_mrtnet
	url = git@github.com:molnarszilard/vae_mrtnet.git
