[submodule "camera_calibration_ws/aditof_sdk_custom/aditof_sdk"]
	path = camera_calibration_ws/aditof_sdk_custom/aditof_sdk
	url = https://github.com/Funderburger/aditof_sdk.git
[submodule "vae_mrtnet"]
	path = vae_mrtnet
	url = git@github.com:molnarszilard/vae_mrtnet.git
[submodule "DisentangledVAE"]
	path = DisentangledVAE
	url = git@github.com:molnarszilard/DisentangledVAE.git
[submodule "latent_3d_points"]
	path = latent_3d_points
	url = https://github.com/molnarszilard/latent_3d_points.git
[submodule "fileprocessing_ms"]
	path = fileprocessing_ms
	url = https://github.com/molnarszilard/fileprocessing.git
[submodule "ToFNest"]
	path = ToFNest
	url = https://github.com/molnarszilard/ToFNest.git
[submodule "shape_finder"]
	path = shape_finder
	url = git@github.com:molnarszilard/shape_finder.git
[submodule "gravity"]
	path = gravity
	url = git@github.com:molnarszilard/gravity.git
[submodule "toffilter"]
	path = toffilter
	url = git@github.com:molnarszilard/toffilter.git
[submodule "jetbot_motor_driver"]
	path = jetbot_motor_driver
	url = https://github.com/molnarszilard/jetbot_motor_driver.git
[submodule "3d-aae"]
	path = 3d-aae
	url = git@github.com:molnarszilard/3d-aae.git
[submodule "3d-gnn-segmentation"]
	path = 3d-gnn-segmentation
	url = https://github.com/Funderburger/3d-gnn-segmentation.git
